.whatsapp{
	border-radius: 9999px;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.3rem;
padding-bottom: 0.3rem;
border: 1px solid transparent;
background-color: #128C7E;

    color: white;
    transition: 0.5s ease-in;
}
.whatsapp:hover{
  color: white;
  border: 1px solid #25D366;
  background-color: #075E54;
}

.email{
	border-radius: 9999px;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.3rem;
padding-bottom: 0.3rem;
background-color: #34B7F1;
border: 1px solid transparent;
    color: white;
    transition: 0.5s ease-in;
}
.email:hover{
  color: white;
  border: 1px solid #25D366;
  background-color: #3479f1;
}